﻿@model IEnumerable<StrazProject.ViewModels.FireActionHubViewModel>

@{
	ViewData["Title"] = "ActionHub";
}

<h2>ActionHub</h2>
<h3>Akcja: @Html.DisplayFor(modelItem => Model.First().Action.FireActionName)</h3>
<h4>Jednostka: @Html.DisplayFor(modelItem => Model.First().Fireman.FireBrigade.FireBrigadeName)</h4>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Fireman.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fireman.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EstimatedTimeOfArrival)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Participation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Fireman.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fireman.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EstimatedTimeOfArrival)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Participation)
				</td>
			</tr>
		}
	</tbody>
</table>