﻿@model StrazProject.ViewModels.FireBrigadeCreateViewModel

@{
    ViewData["Title"] = "CreateFireBrigade";
}

<h2>CreateFireBrigade</h2>

<h4>FireBrigadeCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFireBrigade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FireBrigadeName" class="control-label"></label>
                <input asp-for="FireBrigadeName" class="form-control" />
                <span asp-validation-for="FireBrigadeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
