﻿@model StrazProject.ViewModels.MainPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FireActions.First().FireActionName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FireActions.First().FireActionDate)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model.FireActions) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FireActionName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FireActionDate)
			</td>
		</tr>
}
    </tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FiremanList.First().FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FiremanList.First().LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FiremanList.First().PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FiremanList.First().FireBrigade.FireBrigadeName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.FiremanList)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FireBrigadeId)
			</td>
		</tr>
		}
	</tbody>
</table>
