﻿@model StrazProject.ViewModels.FireActionStartViewModel

@{
    ViewData["Title"] = "StartFireAction";
}

<h2>StartFireAction</h2>

<h4>FireActionStartViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartFireAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FireActionName" class="control-label"></label>
                <input asp-for="FireActionName" id="fireActionNameInput" class="form-control" />
                <span asp-validation-for="FireActionName" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="FireBrigadeId" class="control-label"></label>
				@*<input asp-for="FireBrigadeNames" id="fireBrigadeNamesInput" class="form-control" />*@
				<select id="fireBrigadeNameInput" asp-items="@ViewBag.FireBrigadeNames" asp-for="FireBrigadeId" class="form-control">
					<option value="">Wybierz</option>
				</select>
				<span asp-validation-for="FireBrigadeId" class="text-danger"></span>
			</div>
            <div class="form-group">
                <input id="startFireAction" type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
